annotated-types==0.7.0
anyio==4.13.0
black==26.3.1
certifi==2026.4.22
cfgv==3.5.0
charset-normalizer==3.4.7
click==8.3.3
distlib==0.4.0
filelock==3.29.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.19
idna==3.13
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pre_commit==4.6.0
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
python-discovery==1.2.2
python-dotenv==1.2.2
python-telegram-bot==22.7
pytokens==0.4.1
PyYAML==6.0.3
requests==2.33.1
ruff==0.15.12
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.3.0
websockets==16.0
